body {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: start;
    background: var(--main-bg-color);
    min-height: 100vh;
    padding: 24px;
}

.header-links a:nth-child(2) {
    border-bottom: 2px solid var(--primary-color);
    color: #FFF;
}

h2 {
    text-align: center;
    color: var(--text-secondary);
}

.general {
    display: flex;
    gap: 24px;
    width: 100%;
    height: min-content;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background: var(--block-bg-color);
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.2);
    position: relative;
}

.input-group {
    width: 100%;
    padding: 16px 16px 40px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    background: var(--group-bg-color);
}

.input-group .input-label:nth-child(2),
.input-combined {
    width: 160px;
}

.input-combined {
    flex-grow: 1;
}

.input-combined .input-label {
    width: 90px;
}

select {
    background: none;
    border: none;
    margin-right: 12px;
    margin-top: 20px;
    width: 80px;
    font-size: 14px;
    line-height: 20px;
}

select:focus {
    border: none;
    outline: none;
}

.result-wrapper {
    background: var(--block-bg-color);
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.2);
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    border-radius: 12px;
    border: solid 2px transparent;
    background-clip: padding-box;
    width: 460px;
    align-self: stretch;
    position: relative;
}

.result-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: var(--primary-gradient);
}

.result-wrapper .result:nth-child(1) {
    width: 100%;
}

.result-wrapper .result:nth-child(2),
.result-wrapper .result:nth-child(3) {
    width: 170px;
}

.result {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.result-wrapper span {
    font-size: 12px;
    line-height: 18px;
    color: var(--text-secondary);
}

#result-monthly {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #FFF;
}

#result-percent,
#result-amount {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFF;
}

.monthly-skeleton {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 38px;
    border-radius: 8px;
}

.amount-skeleton,
.percent-skeleton {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 24px;
    border-radius: 6px;

}

.result-skeleton {
    animation: skeleton-history 1000ms ease-in-out forwards;
}


@media (max-width: 960px) {
    body {
        gap: 48px;
    }

    h1 {
        font-size: 24px;
    }

    .general {
        flex-direction: column;
        max-width: 520px;
    }

    .form-wrapper {
        max-width: none;
    }

    .input-group .input-label:nth-child(2),
    .input-combined {
        width: 230px;
    }

    .result-wrapper {
        text-align: center;
        width: auto;
    }
}


@media (max-width: 480px) {
    body {
        justify-content: start;
        gap: 24px;
        padding: 16px;
    }

    h1 {
        font-size: 20px;
    }

    .general {
        max-width: 420px;
        gap: 16px;
    }

    .form-wrapper {
        max-width: none;
    }

    .input-group {
        gap: 8px;
        padding: 16px 16px 24px;
    }

    .input-group .input-label:nth-child(2),
    .input-combined {
        width: 175px;
    }

    .result {
        gap: 8px;
    }

    #result-monthly {
        font-size: 20px;
        line-height: 24px;
    }

    #result-percent,
    #result-amount {
        font-size: 14px;
        line-height: 20px;
    }

    .skeleton-result {
        height: 20px;
    }

    .monthly-skeleton {
        height: 24px;
    }
}