body {
    display: flex;
    flex-direction: column;
    gap: 40vh;
    align-items: center;
    justify-content: start;
    background: var(--main-bg-color);
    min-height: 100vh;
    padding: 24px;
}

.header-links a:nth-child(4) {
    border-bottom: 2px solid var(--primary-color);
    color: #FFF;
}


h2 {
    text-align: center;
    color: var(--text-secondary);
}


@media (max-width: 480px) {
    body {
        justify-content: start;
        padding: 16px;
    }
}