/* General styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    scroll-behavior: smooth;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

:root {
    --primary-color: #6555FF;
    --primary-gradient: linear-gradient(90deg, #AE00FF 0%, #00C8FF 100%);
    --main-bg-color: #10151E;
    --block-bg-color: #182034;
    --group-bg-color: #273046;
    --text-secondary: #7D8DB2;
    --text-tertiary: #343F64;
}

::selection {
    background: #28324F;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono";
    color: #fff;
}

body {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.appearance {
    filter: blur(32px);
    opacity: 0;
    scale: 1.25;
    animation: appearance 800ms ease-in-out 400ms forwards;
}

@keyframes appearance {
    to {
        filter: blur(0px);
        scale: 1;
        opacity: 1;
    }
}



/* Header and Footer */



.header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 24px;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    line-height: 24px;
    gap: 12px;
    text-decoration: none;
}

.header-links {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
    gap: 16px;
    overflow: scroll;
    -ms-overflow-style: none;
    position: relative;
}

.header-links::-webkit-scrollbar {
    display: none;
}


.header-links a {
    position: relative;
    text-decoration: none;
    padding: 8px 16px;
    color: var(--text-secondary);
    transition: 200ms;
    border-bottom: 2px solid var(--main-bg-color);
}

.header-links a:hover {
    border-bottom: 2px solid var(--group-bg-color);
}

.footer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 24px;
}

.footer .logo span {
    color: var(--text-secondary);
}

.footer p {
    color: var(--text-secondary);
    flex-grow: 1;
}

.social {
    display: flex;
    gap: 32px;
    background-image: url();
}

.social a {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: 200ms;
    background-size: cover;
}

.social a:nth-child(1) {
    background-image: url(assets/instagram.webp);
}

.social a:nth-child(2) {
    background-image: url(assets/dribbble.webp);
}

.social a:nth-child(3) {
    background-image: url(assets/github.webp);
}

.social a:hover {
    opacity: 1;
}



/* Components */



.input-label {
    flex-grow: 1;
    display: flex;
    gap: 4px;
    flex-direction: column;
    background: var(--block-bg-color);
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 12px;
    line-height: 18px;
    color: var(--text-secondary);
    position: relative;
}

.input-label input {
    flex-grow: 1;
    border: none;
    background: none;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.input-label input:focus {
    outline: none;
}

.input-label input::placeholder {
    color: var(--text-tertiary);
}

.input-label span {
    position: absolute;
    bottom: 12px;
    right: 24px;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-secondary);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.input-combined {
    border-radius: 6px;
    background: var(--block-bg-color);
    display: flex;
}


.toggle {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.toggle:hover {
    cursor: pointer;
}


#compound {
    display: none;
}

.toggle-switcher {
    width: 44px;
    height: 24px;
    background: var(--group-bg-color);
    border-radius: 16px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.toggle-switcher:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    border-radius: 16px;
    top: 2px;
    right: 2px;
    transition: 0.15s ease-in-out;
    translate: -20px;
}

#compound:checked~.toggle-switcher {
    background: var(--primary-color);
}

#compound:checked~.toggle-switcher:after {
    translate: 0px;
}


.button {
    border: none;
    padding: 16px 24px;
    background: var(--primary-gradient);
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.button::before {
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 16.6%, rgba(255, 255, 255, 0.6) 33.3%, rgba(255, 255, 255, 0) 49.9%, rgba(255, 255, 255, 0.6) 66.5%, rgba(255, 255, 255, 0) 84%, rgba(255, 255, 255, 0.6) 100%);
    transition: 300ms;
    opacity: 0;
}

.button:hover {
    cursor: pointer;
}

.button:hover::before {
    opacity: 0.7;
}

.button:focus {
    outline: none;
}

.button:focus::before {
    animation: button 1000ms ease-in-out;
    opacity: 0;
}

.button-secondary {
    background: var(--main-bg-color);
    overflow: hidden;
}

.button-secondary::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: var(--primary-gradient);
    opacity: 1;
}

.button-secondary:hover {
    background: var(--block-bg-color);
}

.button:hover::before {
    opacity: 1;
}

.button-secondary:focus::before {
    animation: nonet;
    opacity: 1;
}

@keyframes button {
    0% {
        translate: 0;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    99.99% {
        translate: 50%;
    }

    100% {
        translate: 0;
        opacity: 0;
    }
}


/* History */


.history {
    width: 860px;
    position: relative;
    min-height: 240px;
}

.history-item {
    display: flex;
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    transition: 0.2s;
    border-radius: 4px
}

.history-item:hover {
    background: var(--block-bg-color);
}

.history-item p {
    width: 100%;
    flex-grow: 1;
}

.history-item p:nth-child(2) {
    text-align: center;
}

.history-item p:nth-child(3) {
    text-align: right;
}

.history-header p {
    color: var(--text-secondary);
}

.history-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 48px;
}

.history-skeleton-item {
    height: 24px;
    margin: 12px 12px 24px;
    border-radius: 4px;
    animation: skeleton-history 1000ms ease-in-out forwards;
}

.skeleton-appearance {
    opacity: 0;
    animation: skeleton-appearance 200ms ease-in-out 1000ms forwards;
}

@keyframes skeleton-history {
    0% {
        background: var(--block-bg-color);
        opacity: 1;
        display: block;
    }

    90% {
        background: var(--group-bg-color);
        opacity: 1;
    }

    99.9% {
        background: var(--group-bg-color);
        opacity: 0;
        display: block;
    }

    100% {
        display: none;
    }
}

@keyframes skeleton-appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Breakpoints */

@media (max-width: 960px) {

    .history {
        width: 100%;
        max-width: 520px;
    }
    
    .history-item p:nth-child(1) {
        min-width: 40px;
        max-width: 64px;
    }
    
    .history-item p:nth-child(2) {
        text-align: left;
        margin: 0 32px;
    }

}



@media (max-width: 768px) {

    h1 {
        font-size: 32px;
        line-height: 38px;
    }
    
    h2 {
        font-size: 20px;
        line-height: 24px;
    }

    h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .logo svg {
        transform-origin: center;
        scale: 0.75;
    }

    .logo {
        font-size: 14px;
        line-height: 20px;
        gap: 6px;
    }

    .header-links {
        gap:8px;
    }

    .header-links a {
        padding: 8px;
        font-size: 14px;
        line-height: 20px;
    }

    .footer {
        flex-wrap: wrap;
        row-gap: 24px;
        justify-content: center;
    }

    .footer p {
        font-size: 14px;
        line-height: 20px;
        flex-grow: 0;
    }
}




@media (max-width: 480px) {

    .header-logo svg {
        transform-origin: center;
        scale: 0.75;
    }

    .logo {
        font-size: 12px;
        line-height: 18px;
        gap: 6px;
    }

    .header-links {
        justify-content: start;
    }

    .header-links a {
        padding: 8px;
        font-size: 12px;
        line-height: 18px;
    }

    .header-links::after {
        content: '';
        position: -webkit-sticky;
        position: sticky;
        height: 20px;
        right: 0px;
        min-width: 24px;
        background: linear-gradient(270deg, #10151E 0%, rgba(16, 21, 30, 0) 100%);
        z-index: 10;
        pointer-events: none;
    }

    .footer {
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 24px;
    }

    .footer p {
        font-size: 12px;
        line-height: 18px;
        text-align: right;
    }

    .social {
        flex-grow: 1;
        justify-content: center;
        gap: 24px;
    }


    .history {
        width: 100%;
        max-width: 420px;
        overflow: scroll;
        position: relative;
    }


    .history-item {
        width: 100%;
    }

    .history-item p {
        font-size: 12px;
        line-height: 18px;
    }

    .history-item p:nth-child(2) {
        width: 100%;
        min-width: 110px;
    }

    .history-item p:nth-child(3) {
        width: 100%;
        min-width: 116px;
    }
}